body.metro {
    margin: 20px;
}

#wrap
{
}

.event {
    opacity: 0.7;
}

.test
{
    width:  350px;
}

.centeredButton
{
    margin-left: 0px !important;
    text-align: center !important;
}

.bg-lightGray
{
    background-color: lightgray;
}

.firstSelect
{
    color: red !important;
    display: none !important;
    background-color: aquamarine;
}

.centerZiom{
    width: 300px;
    margin: 20px auto;
}

.ziom
{
    width: 14500px !important;
}

.empty{
    padding-left: 10px;
    padding-top: 1px;
}